In [3]:
import pandas as pd
import numpy as np

In [12]:
list1=['Paulada','Biano','Tutano','Elton']
df=pd.DataFrame(list1,columns=['Metaleiros'])
df

  Metaleiros
0    Paulada
1      Biano
2     Tutano
3      Elton

In [ ]:
#import pandas as pd
#>>> df = pd.DataFrame({'calorias':[200, 350, 550], 'gordura (%)':[0, 6, 15]}, index=['banana', 'prato feito', 'big mac'])
#>>> df

# Estudo Merges

Crinado 2 df para merges
Considerando o atributos metaleiros como o mesmo para todos os nomes.
Ou seja,todos nos nomes fazem parte do mesmo grupo: Metaleiros.

In [22]:
#utilizando a função zip() para emparelhar elementos de listas distintas
list1=['Paulada','Biano','Tutano','Elton']
list2 =['Batera','Guita','Guita','Guita']
df2=pd.DataFrame({'Metaleiros':list1,'Instrumento':list2})
print(df2)

  Metaleiros Instrumento
0    Paulada      Batera
1      Biano       Guita
2     Tutano       Guita
3      Elton       Guita

In [31]:
list3=['Mel','Anderson']
list4=['Vocal','Baixo']
df3=pd.DataFrame({'Metaleiros':list3,'Instrumento':list4})
print(df3)

  Metaleiros Instrumento
0        Mel       Vocal
1   Anderson       Baixo

In [32]:
df4=df2.merge(df3,how='outer',indicator='merge')
df4

  Metaleiros Instrumento       merge
0    Paulada      Batera   left_only
1      Biano       Guita   left_only
2     Tutano       Guita   left_only
3      Elton       Guita   left_only
4        Mel       Vocal  right_only
5   Anderson       Baixo  right_only

Considerando nomes de colunas diferentes de modo a evidenciar cada grupo
Ou seja,aqui evidenciamos na mesma tabela que são 2 grupos distintos: metaleiros e convidados.

In [37]:
list3=['Mel','Anderson']
list4=['Vocal','Baixo']
df5=pd.DataFrame({'Convidados':list3,'Instrumento':list4})
print(df3)

  Metaleiros Instrumento
0        Mel       Vocal
1   Anderson       Baixo

In [42]:
df6=df2.merge(df5,how='outer',indicator='merge')
df6

  Metaleiros Instrumento Convidados       merge
0    Paulada      Batera        NaN   left_only
1      Biano       Guita        NaN   left_only
2     Tutano       Guita        NaN   left_only
3      Elton       Guita        NaN   left_only
4        NaN       Vocal        Mel  right_only
5        NaN       Baixo   Anderson  right_only